<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Customer Registration Form</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<h1>Customer Form</h1>
<h2>Instructions:</h2>
<ul>
    <li>Asterisk (*) on a field means required.</li>
</ul>
<form th:action="@{/processForm}" th:object="${customer}" method="post">
    <div>
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" th:field="*{firstName}">
    </div>
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></span>
    <div>
        <label for="lastName">Last Name (*)</label>
        <input type="text" id="lastName" th:field="*{lastName}">
    </div>
    <span th:if="${#fields.hasErrors('freePasses')}" th:errors="*{freePasses}" class="error"></span>
    <div>
        <label for="freePasses">Free Passes (*)</label>
        <input type="text" id="freePasses" th:field="*{freePasses}">
    </div>
    <span th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}" class="error"></span>
    <div>
        <label for="postalCode">Postal Code (*)</label>
        <input type="text" id="postalCode" th:field="*{postalCode}">
    </div>
    <button>Submit</button>
</form>
</body>
</html>