<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Customer Registration Confirmation</title>
</head>
<body>
    <h1>Customer Registration Confirmed!</h1>
    <p>First Name: <span th:text="${customer.firstName}"></span></p>
    <p>Last Name: <span th:text="${customer.lastName}"></span></p>
    <p>Free Passes: <span th:text="${customer.freePasses}"></span></p>
    <p>Postal Code: <span th:text="${customer.postalCode}"></span></p>
</body>
</html>